.table-image img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}
.table-title {
    font-weight: bold;
}
.table-description {
    font-size: .875rem;
    font-family: monospace
}
.table-price {
    font-weight: bold;
}
textarea {
    resize: none;
}
.login-container {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #342f2f;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    padding: 0 .5rem;
    .card-body {
        padding: .5rem;
    }
    .btn {
        border: 5px solid;
        border-image-slice: 1;
        background: var(--gradient) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: white !important;
        border-image-source:  var(--gradient) !important; 
        text-decoration: none;  
        transition: all .4s ease;
    }

    .btn:hover, .btn:focus {
        background: var(--gradient) !important;
        -webkit-background-clip: none !important;
        -webkit-text-fill-color: crimson !important;
        border: 5px solid #fff !important; 
        box-shadow: #222 1px 0 10px;
        text-decoration: underline;
    }

}

#card-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo-principal{
    background-color: rgb(224, 136, 136);
    font-family: sans-serif;
}

.header-logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.header-custom{
    padding: 0;
    background-color: red !important;
}

.header-user{
    width: 50px;
    height: 50px;
}


.cart-icon{
    font-size: 2rem;
    text-decoration: none;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

a:hover{color: darkmagenta; text-decoration: wavy underline 2px;}


h1{
    font-family: 'Reboto';
    text-decoration: underline solid;
    font-style: italic;
    text-align: center;
    font-size: 250%;
}

.text-description{
    font-family: 'Arial';
    text-decoration: underline solid;
    font-style: italic;
    text-align: center;
}

.formula1-carousel .carousel-inner {
    height: 400px;
    padding: 1rem;
}

.formula1-carousel .carousel-inner img {
    height: 400px;
    object-fit: cover;
}




@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(340px,100%),1fr));
    gap: 1rem;
}
.card {
    width: 300px;
    border-radius: 12px;
    height: 450px;
    overflow-x: hidden;
    margin: 20px auto;
    box-shadow: 1px 1px 8px 0 #AAA;
    display: flex;
    flex-direction: column;
    transition: box-shadow .3s;
}

.card-main {
    padding: 4px 8px 16px;
    font-size: 12px;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    flex: 1;
}

.card-main .card-text {
    flex: 1;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #dd2476;
}

.footer-logo {
    width: 100px;
}


.footer-links a {
    color: #666666;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a img{
    width: 50px;
}

.footer-links h6{
    color: rgb(8, 8, 8);
}


.fotopersonal{
    width: 200px;
    height: 200px;
    object-fit: cover;
}


@media screen and (width < 500px) {

    .fotopersonal{
        width: 100px;
        height: 100px;
    }
}